snippet desc "describe test (js)"
	describe('$1', () => {
		$0
	});

snippet it "it test (js)"
	it('$1', () => {
		$0
	});

snippet bef "before each (js)"
	beforeEach(function() {
		$0
	});

snippet aft "after each (js)"
	afterEach(function() {
		$0
	});

snippet befa "before all (js)"
	beforeAll(function() {
		$0
	});

snippet afta "after all (js)"
	afterAll(function() {
		$0
	});

